.Account{
    width: 543px;
    height: 847px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.Teacher{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Teacher_Left{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Short_Name{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:aquamarine;
}
.Name{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Teacher_Right{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.Star{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.Evaluate{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.Teach{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.Buttons{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
}
.Change{
    width: 40%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Change:hover{
    cursor: pointer;
    opacity: 75%;
}
.LogOut{
    width: 40%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LogOut:hover{
    cursor: pointer;
    opacity: 75%;
}
.Information{
    min-height: 65%;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    gap: 5px;
}
.Mon_Hoc{
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 8px;
    box-sizing: border-box;
}
.Hoc_Van{
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 8px;
    box-sizing: border-box;
}
.Thanh_Tich{
    width: 35%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 8px;
    box-sizing: border-box;
}
.Kinh_Nghiem{
    width: 35%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 8px;
    box-sizing: border-box;
}
.Menu{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
}
.Fix{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
    border: 2px solid black;
}
.HomePage{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:  white;
}
.HomePage:hover{
    cursor: pointer;
    
}
.Acc{
    height: 50px;
    width: 50px;
    border-radius: 20%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Acc:hover{
    cursor: pointer;
    
}