.Status {
    width: 543px;
    height: 847px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 20px;
}

.User {
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.Shortname {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.User_Name {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Student_Status {
    width: 95%;
    height: auto;
    min-height: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 20px;
    box-sizing: border-box;
}
.Status_Top{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 20px;
}
.Number_student {
    width: 100%;
    height: 75px;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.Number_lesson {
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.Log_out{
    width: 95%;
    height: 10%;
    background-color: azure;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.Log_out button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid black;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
}
.Log_out:hover{
    cursor: pointer;
}
.Bar{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    border-top: 1px solid black;
}
.Home_page{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.Home_page:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.user{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.user:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
